@font-face {
    font-family: 'cormorant';
    src: url('#{$root-fonts}cormorant-light-webfont.eot');
    src: url('#{$root-fonts}cormorant-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$root-fonts}cormorant-light-webfont.woff2') format('woff2'),
         url('#{$root-fonts}cormorant-light-webfont.woff') format('woff'),
         url('#{$root-fonts}cormorant-light-webfont.ttf') format('truetype'),
         url('#{$root-fonts}cormorant-light-webfont.svg#cormorantlight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'cormorant';
    src: url('#{$root-fonts}cormorant-regular-webfont.eot');
    src: url('#{$root-fonts}cormorant-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$root-fonts}cormorant-regular-webfont.woff2') format('woff2'),
         url('#{$root-fonts}cormorant-regular-webfont.woff') format('woff'),
         url('#{$root-fonts}cormorant-regular-webfont.ttf') format('truetype'),
         url('#{$root-fonts}cormorant-regular-webfont.svg#cormorantregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'cormorant';
    src: url('#{$root-fonts}cormorant-semibold-webfont.eot');
    src: url('#{$root-fonts}cormorant-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$root-fonts}cormorant-semibold-webfont.woff2') format('woff2'),
         url('#{$root-fonts}cormorant-semibold-webfont.woff') format('woff'),
         url('#{$root-fonts}cormorant-semibold-webfont.ttf') format('truetype'),
         url('#{$root-fonts}cormorant-semibold-webfont.svg#cormorantsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'cormorant';
    src: url('#{$root-fonts}cormorant-bold-webfont.eot');
    src: url('#{$root-fonts}cormorant-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$root-fonts}cormorant-bold-webfont.woff2') format('woff2'),
         url('#{$root-fonts}cormorant-bold-webfont.woff') format('woff'),
         url('#{$root-fonts}cormorant-bold-webfont.ttf') format('truetype'),
         url('#{$root-fonts}cormorant-bold-webfont.svg#cormorantbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
body {
  background-color: $color-gray-dark;
  font-family: 'cormorant';
  -webkit-font-smoothing: antialiased;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  -ms-interpolation-mode: bicubic;
  opacity: 1;
  transition: opacity .3s ease;
  &[data-src] {
    opacity: 0;
  }
}
strong,
b {
  font-weight: 700;
}
