.footer {
  color: $color-white;
  background-color: $color-gray-dark;
  text-align: center;
  padding-bottom: 100px;
  > div {
    position: relative;
  }
  .tamansari {
    color: $color-white;
    font-weight: 700;
    font-size: em(27px);
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 15px;
    padding-left: 85px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -20px;
      @include sprite("crown");
    }
  }
  .nav {
    margin-top: 0;
  }
  .tax {
    font-size: em(18px);
    margin-top: 40px;
    margin-bottom: 0;
  }
  .copy {
    font-size: em(12px);
    max-width: 300px;
    margin: 30px auto 0;
  }
}
