.sticky-nav {
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 80;
  margin-top: -59px;
  > li {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
    > a {
      background-color: $color-gold-base;
      text-indent: -9999px;
      display: block;
      width: 22px;
      height: 22px;
      border: 2px solid transparent;
      border-radius: 50%;
      &.is-active {
        background-color: transparent;
        border-color: #9f1e24;
      }
    }
  }
}
.intro-space {
	display: block;
	height: 100vh;
	position: relative;
	z-index: 1;
	h1 {
	  color: $color-white;
	  font-weight: 700;
	  font-size: em(56px);
	  line-height: 1.2;
	  text-transform: uppercase;
	  text-align: center;
	  position: absolute;
	  top: 50%;
	  right: 0;
	  left: 0;
	  z-index: 10;
	  margin-bottom: 0;
	  transform: translateY(-50%);
	}
}
.intro {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -200;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
  .slick-slide {
	position: relative;
    .intro__slide {
      transform: scale(1.3);
      transition: transform 6s linear;

	  &.in {
		transform: scale(1);
		transition-duration: 0;
	  }
    }
  }
  &__slide {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
  }
}
.continue-arrow {
  position: absolute;
  bottom: 35px;
  left: 50%;
  z-index: 55;
  margin-left: -45.5px;
  cursor: pointer;
  @include sprite("arrow-bottom");
  &:hover {
    animation: bounce 2s infinite;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.place {
  z-index: 3;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  &::before {
    content: "";
    background: url("#{$root-images}flowers-bottom.png") no-repeat center 0;
    position: absolute;
    right: 0;
    top: -57px;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 57px;
  }
  &::after {
    content: "";
    background: url("#{$root-images}flowers-bottom.png") no-repeat center 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 57px;
  }
  &__header {
    color: $color-white;
    background-color: $color-gray-dark;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    > div {
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 210px;
    }
    h2 {
      font-weight: 600;
      font-size: em(27px);
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      margin-bottom: 0;
      &::before {
        content: "";
        background: url("#{$root-images}flowers-left.png") no-repeat 0 0;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        left: -190px;
        width: 177px;
        height: 58px;
        margin-top: -29px;
      }
      &::after {
        content: "";
        background: url("#{$root-images}flowers-right.png") no-repeat 0 0;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        right: -190px;
        width: 177px;
        height: 58px;
        margin-top: -29px;
      }
    }
  }
}
#map {
  width: 100%;
  height: 100vh;
}
.contact {
/*  background: url("#{$root-images}contact.jpg") no-repeat center center;
  background-size: cover;*/
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  &::before {
    content: "";
    background: url("#{$root-images}flowers-bottom.png") no-repeat 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 10;
    width: 1920px;
    height: 57px;
    margin-left: -960px;
  }
  &__header {
    color: $color-white;
    background-color: $color-gray-dark;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    > div {
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 210px;
    }
    h2 {
      font-weight: 600;
      font-size: em(27px);
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      margin-bottom: 0;
      &::before {
        content: "";
        background: url("#{$root-images}flowers-left.png") no-repeat 0 0;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        left: -190px;
        width: 177px;
        height: 58px;
        margin-top: -29px;
      }
      &::after {
        content: "";
        background: url("#{$root-images}flowers-right.png") no-repeat 0 0;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        right: -190px;
        width: 177px;
        height: 58px;
        margin-top: -29px;
      }
    }
  }
  &__content {
    > div {
      color: $color-white;
      font-weight: 600;
      font-size: em(32px);
      line-height: 1.2;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 100vh;
      min-height: 960px;
      padding-top: 210px;
      a {
        color: $color-white;
      }
    }
  }
}
.voucher {
  background: url("#{$root-images}voucher.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    background: url("#{$root-images}flower-bottom-last.png") no-repeat 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 10;
    width: 1920px;
    height: 62px;
    margin-left: -960px;
  }
  &__header {
    color: $color-white;
    background-color: $color-gray-dark;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    > div {
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 210px;
    }
    h2 {
      font-weight: 600;
      font-size: em(27px);
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      margin-bottom: 0;
      &::before {
        content: "";
        background: url("#{$root-images}flowers-left.png") no-repeat 0 0;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        left: -190px;
        width: 177px;
        height: 58px;
        margin-top: -29px;
      }
      &::after {
        content: "";
        background: url("#{$root-images}flowers-right.png") no-repeat 0 0;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        right: -190px;
        width: 177px;
        height: 58px;
        margin-top: -29px;
      }
    }
  }
  &__content {
    > div {
      color: $color-white;
      text-align: center;
      height: 100vh;
      min-height: 960px;
      padding-top: 280px;
    }
    .flowers {
      background: url("#{$root-images}flowers.png") no-repeat;
      position: relative;
      width: 999px;
      height: 298px;
      margin: 0 auto;
      p {
        font-size: em(32px);
      }
      span {
        font-weight: 300;
        font-size: em(34px);
        text-transform: uppercase;
        position: absolute;
        &.span-1 {
          top: 0;
          left: 0;
          padding-top: 45px;
          &-flower {
            position: absolute;
            top: 0;
            left: 40px;
            @include sprite("kvet-1");
          }
        }
        &.span-2 {
          bottom: -45px;
          left: 0;
          &-flower {
            position: absolute;
            bottom: 0;
            left: -28px;
            @include sprite("kvet-2");
          }
        }
        &.span-3 {
          top: 0;
          right: -75px;
          &-flower {
            content: "";
            position: absolute;
            top: 15px;
            right: 80px;
            @include sprite("kvet-3");
          }
        }
        &.span-4 {
          right: -60px;
          bottom: -45px;
          &-flower {
            content: "";
            position: absolute;
            right: -12px;
            bottom: -8px;
            @include sprite("kvet-4");
          }
        }
      }
    }
  }
  a.voucher__button {
    color: $color-white;
    font-weight: 700;
    font-size: em(48px);
    line-height: 112px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 330px;
    height: 115px;
    border: 1px solid $color-white;
    margin-left: -165px;
    transition: color, background-color .3s ease;
    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -55px;
      @include sprite("bow");
    }
    &:hover {
      color: $color-gray-dark;
      background-color: $color-white;
    }
  }
}

.comingsoon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
  .intro-space {
    h1 {
      text-shadow: 0 0 10px #000000;
      span {
          display: block;
          &.normal {				
            text-transform: none;
            font-size: em(7px);		            
          }
          &.huge {
            margin-top: 200px;
            font-size: em(20px);		            
          }
      }    
    }
  }		  
}

.welcome {
	display: block;
	height: 100vh;
	position: relative;
	z-index: 1;
	text-align: center;
	color: $color-white;
	text-shadow: 0 0 10px #000000;
	
	h1 {
	  color: $color-white;
	  font-weight: 700;
	  font-size: em(56px);
	  line-height: 1.2;
	  text-transform: uppercase;
	  text-align: center;
	  margin: 0 0 0.5em 0;
	  padding: 0;
	  padding-top: 30vh;
	}
	
	h3 {
	  color: $color-white;
	  font-weight: 700;
	  font-size: em(36px);
	  line-height: 1.2;
	  text-transform: uppercase;
	  text-align: center;
	  padding: 0;
	  margin-top: 1em;
	}
	
	a {
		color: $color-white;
	}
	
	.link {
		font-size: em(36px);
		font-weight: 700;
		text-decoration: underline;
	}
	
	p {
		font-size: em(26px);
		font-weight: 700;
		margin: 0 0 0.5em 0;
		padding: 0;
		min-height: 43px;
		line-height: 43px;
	}
	.number {
		font-size: em(26px);
	}

    a.underline {
      text-decoration: underline;
    }
}