// desktop
@media (min-width: map-get($grid-breakpoints, xl)) {
	.comingsoon {
		background-image: url("#{$root-images}comingsoon/new/1920x1280.jpg");
		.intro-space {
			h1 {
				transform: translateY(-45%);
			}
		}		
	}
	
	.welcome {
		.container-fluid {
			max-width: 1080px;
		}
	}
}

@media (min-width: map-get($grid-breakpoints, xl)) and (max-width: 1480px) {
	.welcome {
		font-size: 95%;
		h1 {
			margin: 0;
		}
		p {
			margin-bottom: 0.25em
		}
	}
}
