// phone portrait
@media (max-width: map-get($grid-breakpoints, sm) - 1) {
	/*
	.comingsoon {
		background-image: url("#{$root-images}comingsoon/new/1280x720.jpg");
		.intro-space {
      h1 {
				transform: translateY(-35%);	  		
        span {
						&.normal {				
	            font-size: em(11px);		            
	          }					
            &.huge {
              margin-top: 100px;	    
              font-size: em(25px);	        
            }
        }    
      }
    }	 		
	}
	*/
}
