// tablet
@media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, xl) - 1) {
  .intro-space h1 {
    font-size: em(40px);
  }
  .voucher {
    .flowers {
      background-size: contain;
      width: 100%;
    }
    &__content {
      .flowers {
        span.span-2-flower {
          bottom: 15px;
        }
        span.span-3 {
          top: -30px;
          right: 0;
        }
        span.span-4-flower {
          bottom: 10px;
        }
        span.span-4 {
          right: -15px;
          bottom: -48px;
        }
      }
    }
  }
  .comingsoon {
		background-image: url("#{$root-images}comingsoon/new/1280x720.jpg");
    .intro-space {
      h1 {
        transform: translateY(-35%);
        span {
            &.huge {
              margin-top: 150px;
            }
        }    
      }
    }		    
	}  
}
