// tablet landscape
@media (min-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl) - 1) {
  .header.scrolled {
    .logo {
      top: 15px;
    }
  }
  .logo {
    top: 25px;
    width: 155px;
  }
  .nav {
    width: 700px;
    margin-top: 50px;
    &__container {
      > ul {
        > li{
          margin-left: 20px;
        }
      }
    }
  }
  .footer {
    .tamansari {
      display: none;
    }
  }
  
  .welcome {
	  h1 {
		  padding-top: 33vh;
	  }
	  font-size: 80%;
  }
}
