//http://chir.ag/projects/name-that-color/

/* colors */
$color-white: #fff; // white
$color-black: #000; // black

$color-gray-dark: #1e1e1e;
$color-gold-base: #bdaa2d;
$color-gray-light: #535353;
